h1 {
  color: rgb(66, 98, 167);
  font-size: 2em;
  font-family: Georgia, 'Times New Roman', Times, serif;
  border-bottom: 1px solid #375e97;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

.project_name {
    font-family: Georgia, 'Times New Roman', Times, serif;
    border-bottom: 5px, solid rgb(66, 98, 167);
    color: rgb(66, 98, 167);
}


/*
.rotate_proj_name {
    transform-origin: left bottom;
    transform: rotate(-10deg) translateY(50%) translateX(-30px);
}